@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #e9f5f2; /* Fundo neutro com leve tom verde */
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;

}

:root {
    --button-off: #c0392b;
    --button-on: #3CB371;
    --button-temp: #D2691E;
    --transition: ease 0.6s;
    --color-hover: rgba(219, 219, 219, 0.7); /* 30% de opacidade */

}

.container {
    z-index: 0;
    position: relative;
    height: 100%;
    max-width: 900px;
    margin: auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: translateY(23%);
}

.titulo {
    padding: 2rem;
}

.controles-ligar-ac {
    display: flex; 
    justify-content: center;
    gap: 10px;
}

.button-on:hover, .button-off:hover, .button-temp-aum:hover, .button-temp-dmn:hover{
    background-color: var(--color-hover);
    color: var(--button-temp);
}

.button-on{
    background-color: var(--button-on);
}

.button-off{
    background-color: var(--button-off);
}

.button-on ,.button-off {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 1.15rem;
    width: 150px;
    height: 70px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.button-temp-aum ,.button-temp-dmn {
    font-family: 'Poppins', Arial, sans-serif;
    margin-top: 7px;
    font-size: 1.15rem;
    width: 150px;
    height: 70px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transition: var(--transition);
    background-color: var(--button-temp);
}

.dados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.dados-internos,
.dados-externos {
    flex: 1 1 45%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.salas-ac {
    display: flex;
    justify-content: center;
    width: 250px; /* Largura da seção de monitoramento */
    height: 100%;
    padding: 10px; /* Espaçamento interno */
    background-color: #ffffff; /* Fundo branco */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Sombra suave */
    position: fixed; /* Fixa a posição na tela */
    top: 0; /* Fica no topo */
    left: 0; /* Alinha à direita */
    text-align: center; /* Alinha o texto à esquerda */
    z-index: 0;
}

.selecao{
    font-size: large;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.submenu {
    position: absolute;
    left: 100%; /* Alinhamento correto */
    top: 0;
    display: none;
    background-color: white; /* Fundo para submenu */
    border: 1px solid #ccc; /* Borda do submenu */
    border-radius: 5px; /* Cantos arredondados */
    z-index: 1000; /* Para garantir que o submenu fique acima de outros elementos */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px; /* Largura fixa para menus pequenos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


ul li {
    position: relative;
}

ul li a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: black;
    border: 1px solid #ccc;
    transition: var(--transition)
}

ul li a:hover {
    background-color: #f0f0f0; /* Destaca o item ao passar o mouse */
    color: var(--button-on); /* Muda a cor do texto ao passar o mouse */
}

li:hover .submenu {
    display: block;
}

.salas{
    margin-top: 5px;
    border-radius: 5px;
}

.salas-monitoramento {
    width: 250px; /* Largura da seção de monitoramento */
    height: 100%;
    padding: 10px; /* Espaçamento interno */
    background-color: #ffffff; /* Fundo branco */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Sombra suave */
    position: fixed; /* Fixa a posição na tela */
    top: 0; /* Fica no topo */
    right: 0; /* Alinha à direita */
    text-align: left; /* Alinha o texto à esquerda */
    z-index: 0;
}

h2{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.monitor{
    box-shadow: none;
    border: none;
}

.monitor-item {
    padding: 10px; /* Espaçamento interno para os itens */
    border-radius: 5px; /* Cantos arredondados */
    transition: background-color 0.3s ease; /* Transição suave para hover */
    cursor: context-menu; /* Muda o cursor para indicar que é clicável */
}

.selecao-h2{
    margin-top: -30px;
}

@media (min-width: 1024px){
    
}
